<!doctype html>
<html lang="en">
<head>
    <%-include('./partials/head'); %>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<%-include('./partials/navbar') %>

<ul class="list-group">
    <li class="list-group-item">Username: <%=name%></li>
    <li class="list-group-item">Role: <%=role%></li>
    <li class="list-group-item">ID: <%=id%></li>
</ul>

</body>
</html>